
:root {
    --hov-bg: #eaeaea;
}

* {
    margin: 0;
    padding: 0;
}

.listbox {
    list-style-type: none;
}

.listbox__item {
    background: none;
    border: none;
}

.listbox__item:hover {
    background: var(--hov-bg);
}

.main {
    display: flex;
}

.left-panel {
    flex: 1;
}

.right-panel {
    flex: 1;
}

.git-interactions {
    list-style-type: none;
}

.git-interactions__command {
    font-weight: bold;
}